# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/client/dist
/dist
/build

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# OS
Thumbs.db

# TypeScript
*.tsbuildinfo

# Vercel
.vercel
# Vite cache
.vite

# Large media files
client/src/assets/Martin4k.mp4
client/src/assets/_L9A8606.ppm
*.mp4
*.ppm
